<div class="modal-header">
    <h4 class="modal-title">DKP Information</h4>
    <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h1>Welcome to the Demo!</h1>
    <p>You can login as a standard user with the following credentials:</p>
    <ul>
        <li>Username: User</li>
        <li>Password: User1234</li>
    </ul>
    <p>You can also login as an administrator with the following credentials:</p>
    <ul>
        <li>Username: Admin</li>
        <li>Password: Admin123</li>
    </ul>
    <p><strong>*NOTE: </strong>Username is case sensitive for logins</p>
    <p>You may perform any action on this demo site that you would like. This simulates an actual client in production.</p>
    <p>If you would like to see a live version in production with 4+ years of data, visit: <a href="https://ogc.opendkp.com">The OGC</a></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Ok</button>
</div>