<div class="animated fadeIn">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="float-left">
                        <strong>Character Details</strong>
                    </div>
                    <div class="float-right">
                        <button type="button" *ngIf="isAuthenticated" class="btn btn-sm btn-success" (click)="claimCharacter()" [disabled]="disabled">
                            <i class="fa fa-dot-circle-o"></i> Claim Character</button>
                        <button type="button" *ngIf="isAdmin" class="btn btn-sm btn-primary" (click)="navToCharEdit()" [disabled]="disabled">
                            <i class="fa fa-dot-circle-o"></i> Edit</button>
                        <button type="button" *ngIf="isAdmin" class="btn btn-sm btn-warning" (click)="smallModal.show()" [disabled]="disabled">
                            <i class="fa fa-dot-circle-o"></i> Delete</button>
                    </div>
                </div>
                <div class="card-body">
                    <form #characterForm="ngForm">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="Name">Name</label>
                            <div class="col-md-9">
                                <input type="text" readonly id="Name" class="form-control" placeholder="Text" [(ngModel)]="model.Name" name="Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="Name">Active</label>
                            <div class="col-md-9">
                                <!-- <input type="text" readonly id="Active" class="form-control" placeholder="Status" [(ngModel)]="model.Active" name="Active"> -->
                                <select class="form-control" id="Active" readonly name="Active" [(ngModel)]="model.Active" required>
                                    <option [value]="1">Active</option>
                                    <option [value]="0">Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="Rank">Rank</label>
                            <div class="col-md-9">
                                <input type="text" readonly id="Rank" class="form-control" placeholder="Text" [(ngModel)]="model.Rank" name="Rank">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="Level">Level</label>
                            <div class="col-md-9">
                                <input readonly type="text" id="Level" name="Level" class="form-control" placeholder="75" [(ngModel)]="model.Level">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="Rank">Class</label>
                            <div class="col-md-9">
                                <input type="text" readonly id="Class" class="form-control" placeholder="Text" [(ngModel)]="model.Class" name="Class">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="Rank">Race</label>
                            <div class="col-md-9">
                                <input type="text" readonly id="Race" class="form-control" placeholder="Text" [(ngModel)]="model.Race" name="Race">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="Rank">Gender</label>
                            <div class="col-md-9">
                                <input type="text" readonly id="Gender" class="form-control" placeholder="Text" [(ngModel)]="model.Gender" name="Gender">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div *ngFor="let alert of alerts">
                        <alert [type]="alert.type" dismissible="true">{{ alert.msg }}</alert>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row" *ngIf="model.SummaryModel">
        <div class="col"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="float-left">
                        <strong>DKP Summary</strong>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-hover table-outline mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>DKP</th>
                                <th>30</th>
                                <th>60</th>
                                <th>90</th>
                                <th>Life</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{model.SummaryModel.CurrentDKP | number:'1.0-0'}}</td>
                                <td>{{model.SummaryModel.Calculated_30 | percent:'1.0-0'}} ({{model.SummaryModel.AttendedTicks_30}} / {{model.SummaryModel.TotalTicks_30}})</td>
                                <td>{{model.SummaryModel.Calculated_60 | percent:'1.0-0'}} ({{model.SummaryModel.AttendedTicks_60}} / {{model.SummaryModel.TotalTicks_60}})</td>
                                <td>{{model.SummaryModel.Calculated_90 | percent:'1.0-0'}} ({{model.SummaryModel.AttendedTicks_90}} / {{model.SummaryModel.TotalTicks_90}})</td>
                                <td>{{model.SummaryModel.Calculated_Life | percent:'1.0-0'}} ({{model.SummaryModel.AttendedTicks_Life}} / {{model.SummaryModel.TotalTicks_Life}})</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col-md-6">
            <tabset>
                <tab>
                    <ng-template tabHeading><i class="icon-basket-loaded"></i> Items</ng-template>
                    <ngx-datatable class="bootstrap" [rows]="vItems" [headerHeight]="30" [footerHeight]="30" [limit]="15" [columnMode]="'force'" [rowHeight]="'auto'">
                        <ngx-datatable-column name="Item" [sortable]="true" prop="ItemName">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <a href="https://eq.magelo.com/item/{{row.ItemID}}" attr.data-lucy="item={{row.ItemID}}">{{row.ItemName}}</a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Raid" [sortable]="true" prop="Raid">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <a routerLink="/raids/{{row.RaidID}}">{{row.Raid}}</a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Date" [sortable]="true" prop="Date">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                {{row.Date | date:'MM/dd/yyyy'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Cost" [sortable]="true" prop="DkpValue">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                {{row.DkpValue}}
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </tab>
                <tab>
                    <ng-template tabHeading><i class="icon-calculator"></i> Adjustments</ng-template>
                    <ngx-datatable class="bootstrap" [rows]="vAdjustments" [headerHeight]="30" [footerHeight]="30" [limit]="15" [columnMode]="'force'" [rowHeight]="'auto'">
                        <ngx-datatable-column name="Name" [sortable]="true" prop="Name">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                {{row.Name}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Date" [sortable]="true" prop="Date">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                {{row.Date | date:'MM/dd/yyyy'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Value" [sortable]="true" prop="Value">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                {{row.Value}}
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </tab>
                <tab>
                    <a routerLink="/raids/ticks/{{model.Name}}">Click here to find missing raid ticks!</a>
                    <ng-template tabHeading><i class="icon-pie-chart"></i> Raids</ng-template>
                    <ngx-datatable class="bootstrap" [rows]="vRaids" [headerHeight]="30" [footerHeight]="30" [limit]="15" [columnMode]="'force'" [rowHeight]="'auto'">
                        <ngx-datatable-column name="Name" [sortable]="true" prop="Name">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <a routerLink="/raids/{{row.IdRaid}}">{{row.Name}}</a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Pool" [sortable]="true" prop="Pool.Name">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                {{row.Pool.Name}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Date" [sortable]="true" prop="Timestamp">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                {{row.Timestamp | date:'MM/dd/yyyy'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Attended / Total" [sortable]="true" prop="Ticks">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                {{row.Ticks.length}} / {{row.TotalTicks}}
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </tab>
            </tabset>
        </div>

        <div class="col"></div>
    </div>
    <div bsModal #smallModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-danger" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="close" (click)="smallModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this character?&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="smallModal.hide()">Cancel</button>
                    <button type="button" class="btn btn-danger" (click)="deleteCharacter()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>