<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <strong>Admin Links & Utilities</strong>
                </div>
                <div class="card-body">
                    <p>Use the button below to trigger a refresh on the cache system, useful when you've made character updates but not DKP updates.
                        The cache will automatically update every 12 hours OR when a DKP change is detected such as Add/Delete/Update raids or Adjustments.
                        It should be rare that you force reset a cache, give approximately 30 seconds for this operation to finish</p>
                    <button type="button" [disabled]="isLoading" (click)="resetCache()" class="btn btn-light">Force Reset Summary Cache</button>

                    <p>Below are useful administrative tools for the site, each with their own dedicated page</p>

                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" routerLink="/admin/roster">Guild Roster Tool</a>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" routerLink="/admin/usergroups">Add/Remove Admins</a>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" routerLink="/admin/audit">Audit Tool</a>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <strong>Requests</strong>
                </div>
                <div class="card-body">
                    <tabset>
                        <tab>
                            <ng-template tabHeading><i class="icon-basket-loaded"></i> Pending Requests</ng-template>
                            <ngx-datatable class="bootstrap" [rows]="PendingRequestList" [headerHeight]="30" [footerHeight]="30" [limit]="10" [columnMode]="'force'" [rowHeight]="'auto'">
                                <ngx-datatable-column name="Requestor" [sortable]="true" prop="Requestor">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{row.Requestor}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Type" [sortable]="true" prop="RequestType">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{RequestType[row.RequestType]}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Date" [sortable]="true" prop="RequestTimestamp">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{row.RequestTimestamp | date:'MM/dd/yyyy'}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="" [sortable]="true" prop="" [minWidth]="250">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <button type="button" [disabled]="isLoading" class="btn btn-sm btn-primary" (click)="requestDetails(row)"><i class="fa fa-dot-circle-o"></i> Details</button>
                                        <button type="button" [disabled]="isLoading" class="btn btn-sm btn-success" (click)="approveRequest(row)"><i class="fa fa-dot-circle-o"></i> Approve</button>
                                        <button type="button" [disabled]="isLoading" class="btn btn-sm btn-danger" (click)="denyRequest(row)"><i class="fa fa-dot-circle-o"></i> Deny</button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </tab>
                        <tab>
                            <ng-template tabHeading><i class="icon-basket-loaded"></i> Denied Requests</ng-template>
                            <ngx-datatable class="bootstrap" [rows]="DeniedRequestList" [headerHeight]="30" [footerHeight]="30" [limit]="10" [columnMode]="'force'" [rowHeight]="'auto'">
                                <ngx-datatable-column name="Requestor" [sortable]="true" prop="Requestor">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{row.Requestor}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Type" [sortable]="true" prop="RequestType">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{RequestType[row.RequestType]}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Date" [sortable]="true" prop="RequestTimestamp">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{row.RequestTimestamp | date:'MM/dd/yyyy'}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="" [sortable]="true" prop="" [minWidth]="250">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <button type="button" class="btn btn-sm btn-primary" (click)="requestDetails(row)"><i class="fa fa-dot-circle-o"></i> Details</button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </tab>
                        <tab>
                            <ng-template tabHeading><i class="icon-basket-loaded"></i> Approved Requests</ng-template>
                            <ngx-datatable class="bootstrap" [rows]="ApprovedRequestList" [headerHeight]="30" [footerHeight]="30" [limit]="10" [columnMode]="'force'" [rowHeight]="'auto'">
                                <ngx-datatable-column name="Requestor" [sortable]="true" prop="Requestor">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{row.Requestor}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Type" [sortable]="true" prop="RequestType">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{RequestType[row.RequestType]}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Date" [sortable]="true" prop="RequestTimestamp">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{row.RequestTimestamp | date:'MM/dd/yyyy'}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="" [sortable]="true" prop="" [minWidth]="250">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <button type="button" class="btn btn-sm btn-primary" (click)="requestDetails(row)"><i class="fa fa-dot-circle-o"></i> Details</button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </tab>
                    </tabset>
                </div>
                <div class="card-footer">
                    <div *ngFor="let alert of alerts">
                        <alert [type]="alert.type" dismissible="true">{{ alert.msg }}</alert>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <strong>DKP Information</strong>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="BRV">Base Raid Value (BRV)</label>
                        <div class="col-md-9">
                            <input type="number" id="BRV" class="form-control" placeholder="BRV" [(ngModel)]="dkpModel.BRV" name="BRV">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="MinBid">Minimum Bid</label>
                        <div class="col-md-9">
                            <input type="number" id="MinBid" class="form-control" placeholder="MinBid" [(ngModel)]="dkpModel.MinBid" name="MinBid">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="Description">Minimum Bid Increase</label>
                        <div class="col-md-9">
                            <input type="number" id="MinBidInc" class="form-control" placeholder="MinBidInc" [(ngModel)]="dkpModel.MinBidInc" name="MinBidInc">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="DKPCap">DKP Cap</label>
                        <div class="col-md-9">
                            <input type="number" id="DKPCap" class="form-control" placeholder="DKPCap" [(ngModel)]="dkpModel.DKPCap" name="DKPCap">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="MaxBidMain">Max Bid (Main/PALT)</label>
                        <div class="col-md-9">
                            <input type="text" id="MaxBidMain" class="form-control" placeholder="MaxBidMain" [(ngModel)]="dkpModel.MaxBidMain" name="MaxBidMain">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="MaxBidAlt">Max Bid (ALT)</label>
                        <div class="col-md-9">
                            <input type="text" id="MaxBidAlt" class="form-control" placeholder="MaxBidAlt" [(ngModel)]="dkpModel.MaxBidAlt" name="MaxBidAlt">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="LowRABid">Below 40% RA Max Bid</label>
                        <div class="col-md-9">
                            <input type="text" id="LowRABid" class="form-control" placeholder="LowRABid" [(ngModel)]="dkpModel.MaxBidRA" name="LowRABid">
                        </div>
                    </div>
                    <button type="submit" [disabled]="isLoading" class="btn btn-sm btn-success" (click)="updateDkpInfo()">
                        <i class="fa fa-dot-circle-o"></i> Save</button>
                </div>
                <div class="card-footer">
                    <div *ngFor="let alert of dkpValuesAlerts">
                        <alert [type]="alert.type" dismissible="true">{{ alert.msg }}</alert>
                    </div>                    
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <strong>Summary Card Settings</strong>
                </div>
                <div class="card-body">
                    <p>These settings control the Class cards at the top of the DKP Summary Page. You can define which Ranks show up in those cards along with how many show up in each card. If no values are stored here, the defaults are all ranks show and up to 5 are listed.</p>
                    <div class="form-group row">
                        <label data-toggle="tooltip" title="Separate ranks by commas, not case sensitive" class="col-md-3 col-form-label" for="scRanks"> <i class="fa fa-question"></i> Ranks to Display</label>
                        <div class="col-md-9">
                            <input type="text" id="scRanks" class="form-control" placeholder="Main,Member,Alt,Enforcer" [(ngModel)]="scModel.Ranks" name="scRanks">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="scListSize">Max List Size</label>
                        <div class="col-md-9">
                            <input type="number" id="scListSize" class="form-control" placeholder="5" [(ngModel)]="scModel.ListSize" name="scListSize">
                        </div>
                    </div>
                    <button type="submit" [disabled]="isLoading" class="btn btn-sm btn-success" (click)="updateSummaryCard()">
                        <i class="fa fa-dot-circle-o"></i> Save</button>
                </div>
                <div class="card-footer">
                    <div *ngFor="let alert of summaryAlerts">
                        <alert [type]="alert.type" dismissible="true">{{ alert.msg }}</alert>
                    </div>                    
                </div>
                <div class="card">
                    <div class="card-header">
                        <strong>Nightly Batch Settings</strong>
                    </div>
                    <div class="card-body">
                        <p>Every night OpenDKP runs a batch job which automatically marks characters as Active or Inactive based on their raiding history.
                            Below you can toggle the batch on, off or fine tune the batch settings such as deciding whether the batch marks characters as active or inactive.
                            The batch will mark inactive characters as active if they have attended a raid in the last N days, where N is determined by you.
                            The batch will mark active characters as inactive if they have NOT attended a raid in the last N days, where N is determined by you.</p>
                        <div class="form-group row">
                            <label data-toggle="tooltip" title="Toggle whether the nightly batch runs or not" class="col-md-3 col-form-label" for="nbEnabled"> <i class="fa fa-question"></i> Enable Batch</label>
                            <div class="col-md-9">
                                <label class="switch switch-success">
                                    <input id="nbEnabled" type="checkbox" class="switch-input" [(ngModel)]="nbModel.Enabled">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label data-toggle="tooltip" title="Toggle whether Characters are marked active during the batch cycle" class="col-md-3 col-form-label" for="nbActive"> <i class="fa fa-question"></i> Mark Active</label>
                            <div class="col-md-3">
                                <label class="switch switch-success">
                                    <input id="nbActive" type="checkbox" class="switch-input" [disabled]="!nbModel.Enabled" [(ngModel)]="nbModel.MarkActive">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label data-toggle="tooltip" title="Toggle whether Characters are marked inactive during the batch cycle" class="col-md-3 col-form-label" for="nbInactive"> <i class="fa fa-question"></i> Mark Inactive</label>
                            <div class="col-md-3">
                                <label class="switch switch-success">
                                    <input id="nbInactive" type="checkbox" class="switch-input" [disabled]="!nbModel.Enabled" [(ngModel)]="nbModel.MarkInactive">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label data-toggle="tooltip" title="The number of days a character goes without attending a raid before being marked as Inactive" class="col-md-3 col-form-label" for="nbInactive"> <i class="fa fa-question"></i> Days Till Inactive</label>
                            <div class="col-md-3">
                                <input type="number" id="nbSize" class="form-control" placeholder="30" [disabled]="!nbModel.Enabled" [(ngModel)]="nbModel.Days" name="nbSize">
                            </div>
                        </div>
                        <button type="submit" [disabled]="isLoading" class="btn btn-sm btn-success" (click)="updateBatchSettings()">
                            <i class="fa fa-dot-circle-o"></i> Save</button>
                    </div>
                    <div class="card-footer">
                        <div *ngFor="let alert of batchAlerts">
                            <alert [type]="alert.type" dismissible="true">{{ alert.msg }}</alert>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div bsModal #smallModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-danger" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="close" (click)="smallModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this raid?&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="smallModal.hide()">Cancel</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>