<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <strong>Remove DKP Admins</strong>
                </div>
                <div class="card-body">
                    <p>This is a list of the current DKP Admins</p>
                    <div>
                        <ngx-datatable class="bootstrap" [rows]="Admins" [headerHeight]="30" [footerHeight]="30" [limit]="10" [columnMode]="'force'" [rowHeight]="'auto'">
                            <ngx-datatable-column name="Username" [sortable]="true" prop="Username">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    {{row.Username}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Nickname" [sortable]="true" prop="Nickname">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{row.Nickname}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Email" [sortable]="true" prop="Email">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            {{row.Email}}
                                        </ng-template>
                                    </ngx-datatable-column>                                                            
                            <ngx-datatable-column name="" [sortable]="true" prop="" [minWidth]="250">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <button type="button" class="btn btn-sm btn-danger" (click)="removeAdmin(row)"><i class="fa fa-dot-circle-o"></i> Remove</button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
                <div class="card-footer">
                    <div *ngFor="let alert of alerts">
                        <alert [type]="alert.type" dismissible="true">{{ alert.msg }}</alert>
                    </div>
                </div>
            </div>
            <div class="card">
                    <div class="card-header">
                        <strong>Add DKP Admins</strong>
                    </div>
                    <div class="card-body">
                        <p>Use the list below to add existing users as DKP Admins for your site</p>
                        <div>
                            <ngx-datatable class="bootstrap" [rows]="Users" [headerHeight]="30" [footerHeight]="30" [limit]="10" [columnMode]="'force'" [rowHeight]="'auto'">
                                <ngx-datatable-column name="Username" [sortable]="true" prop="Username">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        {{row.Username}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Nickname" [sortable]="true" prop="Nickname">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            {{row.Nickname}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Email" [sortable]="true" prop="Email">
                                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                {{row.Email}}
                                            </ng-template>
                                        </ngx-datatable-column>                                                            
                                <ngx-datatable-column name="" [sortable]="true" prop="" [minWidth]="250">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <button type="button" class="btn btn-sm btn-success" (click)="addAdmin(row)"><i class="fa fa-dot-circle-o"></i> Add</button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div *ngFor="let alert of alerts">
                            <alert [type]="alert.type" dismissible="true">{{ alert.msg }}</alert>
                        </div>
                    </div>
                </div>            
        </div>
    </div>
</div>