<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card mx-4">
      <div class="card-body p-4">
        <h1>Verification</h1>
        <p class="text-muted">Email Confirmation Code</p>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input [(ngModel)]="username"  type="text" class="form-control" placeholder="Username">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input [(ngModel)]="code" type="text" class="form-control" placeholder="Verification Code">
        </div>
        <button type="button" class="btn btn-block btn-success" (click)="register()">Verify Email</button>
        <button type="button" class="btn btn-block btn-warning" (click)="resendCode()">Send new Verification Code</button>
      </div>
      <div class="card-footer">
        <div *ngFor="let alert of alerts">
          <alert [type]="alert.type" dismissible="true">{{ alert.msg }}</alert>
        </div>
        <div class="row">      
          <a class="nav-link" [routerLink]="['/login']">Login</a>
          <a class="nav-link" [routerLink]="['/login']">Forgot Password</a>
        </div>
      </div>
    </div>
  </div>
</div>